
.MainProducts>h3 {
  text-align: center;
  font-size: 3rem;
}

.MainProducts_grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

}

.MainProducts_grid > article {
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center; 
  height: 450px; 
  overflow: hidden;
  position: relative;

}

 .MainProducts_img {
  /* width: 100%;  */
  /* height: auto;  */
  object-fit: cover ; 
  object-position: center;
  /* position: absolute; */
  opacity: .7;
  transition: all .3s ease-in-out;
}
.MainProducts_img:hover{
  scale:110% ;
  transform: rotate(3deg);
}
.MainProducts_grid > article > p {
  margin-top: 10px; 
  text-align: center; 
  z-index: 2; 
  position: absolute;
  top: 5%;
  font-weight: bolder;
  font-size:larger ;
}