.collection{
    display: flex;
    justify-content: center;
    gap: 2% ;
}
.collection_item{
    list-style: none;
    text-decoration: none;
    background-image: linear-gradient(270deg, #4f56ff, #ff4980);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    padding-inline: 2px;
    border-radius: 8px;
    transition: all 1.5s ease-in-out ;
}
.collection_item:hover{
    background: linear-gradient(270deg, #4f56ff, #ff4980);
    -webkit-text-fill-color: white;
}