.NavBar {
    display: flex;
    width: 100%;
    height: auto;
}

.NavBar_container {
    display: flex;
    width: 60%;
    justify-content: flex-end;
    align-items: center;
    gap: 10%;
}
.NavBar_containerII{
    display: flex;
    width: 40%;
    padding: 0px 4%;
    justify-content: flex-end;
    align-items: center;
    gap: 4%;
}
.NavBar_item {
    list-style: none;
    text-decoration: none;
    color: #e4e1f6;
    font-size: larger;
    font-weight: bolder;
    transition: all .2s ease-in;
}

.NavBar_item:hover {
    color: #7e1cae;
}

.NavBar_user {
    display: flex;
    align-items: center;
    width: 100px;
    padding: 5px;
    cursor: pointer;
}
.NavBar_user::before {
    content: '•';
    color: rgb(34, 186, 34);
    font-size: 30px;
    margin-right: 2px;
}